/*
COLORS
*/

$color-primary: #eb2f64;
$color-primary-light: #ff3366;
$color-primary-dark: #ba265d;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-black: #000;
$color-white: #fff;

$shadow-light: 0 2rem 10rem rgba($color-black, 0.8);

$shadow-dark: 0 2rem 6rem rgba($color-black, 0.3);
$shadow-dark-2: 0 2rem 5rem rgba($color-black, 0.2);

$line: 1px solid $color-grey-light-2;

$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;
